.Bar {
    height: 20px;
    width: 0px;
    border-radius: 15px;
    border: 2px solid black;
    transition: width 300ms linear 100ms;
    transform: translate(-2px, -5px);
}

html {
    background-color: rgb(13, 228, 240);
}

.Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 150px;
}

.Text {
    font-size: xx-large;
    color: white;
}

.Bar:hover {
    background-color: white;
    width: 250px;
}