.child1 {
    background-color: rgb(122, 12, 82);
}

.child2 {
    background-color: rgb(22, 32, 2);
}

.child3 {
    background-color: rgb(52, 31, 12);
}

.child4 {
    background-color: rgb(12, 112, 82);
}

.child5 {
    background-color: rgb(22, 92, 8);
}

.child6 {
    background-color: rgb(122, 12, 82);
}

.child7 {
    background-color: rgb(22, 32, 2);
}

.child8 {
    background-color: rgb(52, 31, 12);
}

.child9 {
    background-color: rgb(12, 112, 82);
}

.child10 {
    background-color: rgb(22, 92, 8);
}

.child11 {
    background-color: rgb(122, 12, 82);
}

.child12 {
    background-color: rgb(22, 32, 2);
}

.child13 {
    background-color: rgb(52, 31, 12);
}

.child14 {
    background-color: rgb(12, 112, 82);
}


.Container {
    height: 150px;
    width: 300px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    /* flex-wrap: no-wrap; */
    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */
}

.child {
    height: 20px;
    width: 50px;
    color: white;
}