.MainDiv {
    background-color: rgb(0, 0, 0);
    height: 400px;
    width: 700px;
    background-image: url(BGPic.webp);
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
}

.LanguagesInfo {
    font-size: x-large;
    margin-top: 100px;
    color: rgb(255, 255, 255);
}

.GoaVideo {
    margin-left: 400px;
    font-size: larger;
}

.Reasons {
    font-size: larger;
}